p Select study: 
  select#study-selection.g-annotation-domain(style='height: 25px; width: 200px')
    option something
    //-each domain in myStudies
      //-option(value=domain)= domain
p
select#selection.g-annotation-domain(style='height: 25px; width: 200px')
  option(value='null') none
  each domain2 in domains
    //-option(value=domain2)= domain2
    option(value=domain2.value)= domain2.key
button.g-annotation-domain.add-label(title="Add Label" style='width: 100px; height: 25px;') Add label
p Labels to add:
select#labels(size='5' style='width: 150px')
button.g-annotation-domain.remove-label(title="Remove Label" style='width: 125px; height: 25px;') Remove label
p
button.g-annotation-domain.save-labels(title="Save Labels" style='width: 100px; height: 25px;') Save labels