select#selection.g-annotation-domain(style='height: 25px; width: 200px')
  option(value='null') none
  each domain in domains
    option(value=domain.value)= domain.key
button.g-annotation-domain.add-label(title="Add Label" style='width: 100px; height: 25px;') Add label
p Labels to add:
select#labels(size='5' style='width: 150px')
button.g-annotation-domain.remove-label(title="Remove Label" style='width: 125px; height: 25px;') Remove label
p
button.g-annotation-domain.save-labels(title="Save Labels" style='width: 100px; height: 25px;') Save labels