.g-config-breadcrumb-container
p.g-annotator-description
  | Input a study. This tag will be the metadata title for the labels added to the item.
form#g-annotator-form(role="form")
  .form-group
    label.control-label(for="annotator.resources") Study name
    input#annotator.resources(
      type="text", placeholder="Name of study...", style='width: 250px')
  p#g-provenance-error-message.g-validation-failed-message
  input.btn.btn-sm.btn-primary(type="submit", value="Save")


